@use './mixins' as mixin;
.b1 {
  background: red;
  border: 1px solid red;
}
.b2 {
  background: blue;
  border: 1px solid blue;
}
.b3 {
  background: green;
  border: 1px solid green;
}
.b4 {
  background: yellow;
  border: 1px solid yellow;
}

.br {
  @include mixin.xs {
    border: 2px solid red;
  }
  @include mixin.sm {
    border: 2px solid green;
  }
  @include mixin.md {
    border: 2px solid blue;
  }
  @include mixin.lg {
    border: 2px solid orange;
  }
  @include mixin.xl {
    border: 2px solid purple;
  }
}
